.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: stretch;
  grid-template-areas:
    "nav nav nav"
    "main main main";
}

.nav { grid-area: nav; }

.main { grid-area: main; }
