html {
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 2rem;
  font-family: "Idlewild A", "Idlewild B";
  font-style: normal;
  font-weight: 200;
  background-color: #ff00c8;
  color: white;
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: auto;
}

h4, h6 {
  font-family: "Knockout 94 A", "Knockout 94 B";
  font-style: normal;
  font-weight: 400;
}

.wrapper {
  width: 100vw;
  height: 95vh;
  background: radial-gradient(farthest-corner at 30vw 20vh, black 10%, #ff00c8 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.frame {
  width: 70vw;
  height: 50vh;
  position: absolute;
  border-radius: 50px;
  border: 5px lightblue solid;
  box-shadow: 0 0 1.5rem #00ccff, inset 0 0 1.5rem #00ccff, 0 0 60px #ff00c8, inset 0 0 60px #ff00c8;
}

.frame:nth-child(1) {
  transform: translateY(0) translateZ(0);
  opacity: 1;
}

.frame:nth-child(2) {
  transform: translateY(1px) translateZ(-0.1px);
  opacity: 0.95;
}

.frame:nth-child(3) {
  transform: translateY(2px) translateZ(-0.2px);
  opacity: 0.9;
}

.frame:nth-child(4) {
  transform: translateY(3px) translateZ(-0.3px);
  opacity: 0.85;
}

.frame:nth-child(5) {
  transform: translateY(4px) translateZ(-0.4px);
  opacity: 0.8;
}

.frame:nth-child(6) {
  transform: translateY(5px) translateZ(-0.5px);
  opacity: 0.75;
}

.frame:nth-child(7) {
  transform: translateY(6px) translateZ(-0.6px);
  opacity: 0.7;
}

.frame:nth-child(8) {
  transform: translateY(7px) translateZ(-0.7px);
  opacity: 0.65;
}

.frame:nth-child(9) {
  transform: translateY(8px) translateZ(-0.8px);
  opacity: 0.6;
}

.frame:nth-child(10) {
  transform: translateY(9px) translateZ(-0.9px);
  opacity: 0.55;
}

.frame:nth-child(11) {
  transform: translateY(10px) translateZ(-1px);
  opacity: 0.4;
}

.frame:nth-child(12) {
  transform: translateY(11px) translateZ(-1.1px);
  opacity: 0.3;
}

.frame:nth-child(13) {
  transform: translateY(12px) translateZ(-1.2px);
  opacity: 0.2;
}

.frame:nth-child(14) {
  transform: translateY(13px) translateZ(-1.3px);
  opacity: 0.1;
}

.frame:nth-child(15) {
  transform: translateY(14px) translateZ(-1.4px);
  opacity: 0.05;
}

.parallax-wrapper {
  width: 100vw;
  height: 100vh;
  margin-top: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  box-shadow: 0 0 5rem #ff00c8;
  background-image: url("/assets/adidasOne.jpg");
  background-size: 50;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: indigo;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper2::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/adidasTwo.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper2 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: black;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper3::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/streetThree.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper3 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: #ff007f;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.parallax-wrapper4 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
}

.parallax-wrapper4::before {
  content: "";
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("/assets/adidasThree.jpg");
  background-size: cover;
  background-position: center center;
  position: absolute;
  z-index: -1;
  transform: translateZ(-1px) scale(2);
}

.regular-wrapper4 {
  width: 100vw;
  height: 100vh;
  padding-top: 20vh;
  background-color: #222;
  background-size: cover;
  background-position: center center;
  z-index: 2;
  position: relative;
}

.content {
  margin: 0 auto;
  padding: 25vh 0;
  width: 100vw;
  background: #222;
  opacity: 0.8;
  text-align: center;
}

.btn {
  font-family: "Knockout 94 A", "Knockout 94 B";
  font-style: normal;
  font-weight: 400;
}

.logout {
  text-shadow: 0 0 1rem white;
}