.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-bottom: solid;
}

.App-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  background-color: #282c34;
  margin: 5px;
}

.Link-container {
  justify-content: flex-end;
}

form{
  width:100%;
}

.Submit-button{
  
}

.Login-comp{

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Friends {
  text-align: left;
}

